In [19]:
import pandas as pd
import numpy as np
import feather

import warnings
warnings.filterwarnings("ignore")

from pycaret.classification import *

In [20]:
train = pd.read_csv('train_df.csv')
test = pd.read_csv('test_df.csv')

In [21]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare', 'Embarked', 'Title', 'age_group', 'travel_party', 'not_alone'],
      dtype='object')

In [26]:
# Import PyCaret classification module
from pycaret.classification import *

# Initialize PyCaret setup for classification
# Initialize PyCaret setup, ignoring specific columns
clf = setup(data=train,
    target='Survived',
    ignore_features=['PassengerId', 'age_group', 'Fare', 'Title', 'Embarked', 'SibSp', 'not_alone','Parch'],  # Columns to ignore
    remove_multicollinearity=True,  # Enable multicollinearity removal
    multicollinearity_threshold=0.9,  # Correlation threshold (usually between 0.85 and 0.95)
    session_id=42
)

In [27]:
# Compare models
best_model = compare_models()

In [28]:
final_model = finalize_model(best_model)

In [29]:
# Get the processed dataset after PyCaret's setup
processed_data = get_config('X')

# Show the feature names
print(processed_data.columns)

Index(['Pclass', 'Sex', 'Age', 'travel_party'], dtype='object')

In [30]:
# Make predictions on the test set
predictions = predict_model(final_model, data=test)

# View predictions
print(predictions.head())

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked Title  \
0          892       3    male  34.5      0      0   7.8292        Q    Mr
1          893       3  female  47.0      1      0   7.0000        S   Mrs
2          894       2    male  62.0      0      0   9.6875        Q    Mr
3          895       3    male  27.0      0      0   8.6625        S    Mr
4          896       3  female  22.0      1      1  12.2875        S   Mrs

     age_group  travel_party  not_alone  prediction_label  prediction_score
0        Adult             0          1                 0            0.9287
1        Adult             1          0                 0            0.8384
2       Senior             0          1                 0            0.7247
3  Young Adult             0          1                 0            0.7861
4  Young Adult             2          0                 1            0.5422

In [32]:
print(predictions.columns)

Index(['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked', 'Title', 'age_group', 'travel_party', 'not_alone',
       'prediction_label', 'prediction_score'],
      dtype='object')

In [33]:
# Evaluate on test set
evaluate_model(final_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

In [34]:
save_model(final_model, 'best_titanic_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['Pclass', 'Age', 'travel_party'],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=None,
                                                               keep_empty_features=False,
                                                               missing_values=nan,
                                                               strategy='mean',
                                                               verbose='deprecated'))),
                 ('categorical_imputer',
                  TransformerWrapper(exclude=None,...
                                                                handle_unknown='value',
                                                                mapping=[{'col': 'Sex',
                                                                          'data_type': dtype('O'),
                                                                          'mapping': female    0
 male      1
 NaN      -1
 dtype: int64}],
                                                                return_df=True,
                                                                verbose=0))),
                 ('remove_multicollinearity',
                  TransformerWrapper(exclude=[], include=None,
                                     transformer=RemoveMulticollinearity(threshold=0.9))),
                 ('actual_estimator',
                  <catboost.core.CatBoostClassifier object at 0x30dab00d0>)],
          verbose=False),
 'best_titanic_model.pkl')

In [ ]:
from pycaret.classification import save_model
# Save the model as 'best_titanic_model'
save_model(final_model, 'model/best_titanic_model')